<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lion.mapper.PermissionMapper">
    <select id="findAll" resultType="cn.lion.domain.Permission">
        SELECT id,name,expression FROM permission
    </select>
    <delete id="deleteAll">
        delete from permission
    </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into permission(name ,expression) values (#{name },#{expression})
    </insert>
    <delete id="deleteById">
        delete from permission where id=#{id}
    </delete>

</mapper>